.border {
    border: 5px solid red;
    padding: 10px;
}

.border2 {
    border: 2px dotted #931;
    padding: 25px;
}

.border-esquerda {
    border-left: 3px solid red;
    background-color: #222;
    padding: 25px;
    color: #fff;
}

.border-botao {
    border-bottom: 5px double #399;
    background-color: #222;
    padding: 20px;
    color: #fff;
}

.rounded-p {
    border: 4px solid blue;
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 15px;
}

.rounded-p2 {
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 25px;
}

.margin {
    margin: 10px;
    background-color: #222;
    color: #fff;
}

.margin-top {
    margin-top: 50px;
    background-color: #444;
    color: #fff;
}

.margin-shorthand {
    background-color: #666;
    color: #fff;
    margin: 5px 10px 15px 20px

}

.box-model {
    margin: 20px;
    padding: 15px 25px;
    border: 3px solid #845;
    border-radius: 7px;
    width: 200px;
    height: 100px;
}