.paragraph {
    background-color: black;
    color: aqua;
    font-size: 40px;
    padding: 5px;
}

/* ID's  */
#exclusive-title {
    background-color: purple;
    color: yellow;
    font-size: 50px;
    padding: 10px;
}

h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}